@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body{
    background-color: #eff3cd !important;
}

.CadastroPessoa{
    background-color:  #248f8d;
    color: #605063;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    width: 300px;
    height: 150px;
    font-size: 15px;
}

.a, .b, .c, .d, .e, .f, .g, .h{
    display: flex;
    flex-direction:row;
}

.Nome, .CPF, .DataDeNascimento, .Telefone, .Endereco, .Altura, .Peso, .Cadastro{
    background-color:  #61ada0;   
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 240px;
    height: 100px;
    font-family: 'Italianno', cursive; 
    text-align: center;
    font-size: 35px;
}

button:hover{
    background-color: #b2d5ba;
}
input:hover{
    background-color: #61ada0;
}

.Nome2, .CPF2, .DataDeNascimento2, .Telefone2, .Endereco2, .Altura2, .Peso2{
    background-color: #b2d5ba;   
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 200px;
    height: 100px;
    font-family: 'Italianno', cursive; 
    text-align: center;
    font-size: 30px;
}

.TODOS{
    display: flex;
    justify-content: space-around;
}

.pessoa{
    color: black;
}

.cadastro, .pessoa{
    font-family: 'Italianno', cursive;
    font-size: 50px;
    text-align: center;
 }